@media screen and (max-width: 425px) {
    * {
        width: 1112px;
        height: auto;
        background-size: 50px;
        height: auto;
    }

    .navigation {
        flex-direction: column;
    }

    .nav-container {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-text {
        flex-direction: column;
        width: 100%;
    }

    .banner1-text {
        /* align-items: center; */
        justify-content: center;
        margin-left: 500px;
    }

    .button-both {
        width: 30px;
        height: 20px;
    }

    .banner-image {
        margin-bottom: 70px;
    }

    .logo-container {
        /* flex-direction: column; */
        width: 70px;
    }

    .banner1-text {
        width: 80px;
    }

    /* banner 1 end */
    .banner-2 {
        flex-direction: column;
    }

    .banner-2-text {
        flex-direction: column;
    }

    /* banner2 end */
    .video-list {
        flex-direction: column;
        width: auto;
        justify-content: center;
        margin-left: 400px;
    }
/* banner 3 start */
    .banner3{
        flex-direction: column;
        width: auto;
    }
    .banner3-text{
        flex-direction: column;
        margin-right: 500px;
    }
    /* banner4 start */
    .banner4{
        flex-direction: column;
    }
    .banner4-text{
        flex-direction: column;
    }
}

@media screen and (min-width: 425) and (max-width: 768) {}