@media screen and (max-width: 425px) {
    * {
        width: 100%;
        height: auto;
        /* background-size: 50px; */
        height: auto;
    }

    .navigation {
        flex-direction: column;
        width: 100%;
    }

    .nav-container {
        flex-direction: column;
    }

    .nav-items-container {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-text {
        flex-direction: column;
        width: 100%;
        /* padding-right: 40%; */
    }

    . .banner1-text {
        /* align-items: center; */
        width: 650px;
        justify-content: center;
        margin-left: 500px;
    }

    .button-both {
        width: 30px;
        height: 20px;
    }

    .banner-image {
        margin-bottom: 70px;
        width: 650px;
    }

    .logo-container {
        /* flex-direction: column; */
        width: 70px;
        /* align-items: center; */
        justify-content: center;
        padding-right: 70px;
    }

    .banner1-text {
        width: 80px;
    }

    /* banner 1 end */
    .banner-2 {
        flex-direction: column;
    }

    .banner-2-text {
        flex-direction: column;
        justify-content: center;
        width: 650px;
        height: auto;
    }

    .banner-2-image {
        width: 650px;
    }

    /* banner2 end */
    .video-list {
        flex-direction: column;
        width: auto;
        justify-content: center;
        margin-left: 400px;
    }

    .video-text {
        width: 650px;
    }

    .video-list-div {
        flex-direction: column;
        justify-content: center;
        padding-right: 40px;
    }

    .video-image {
        /* flex-direction: column; */
        /* justify-content: left; */
        width: 600px;
    }

    /* banner 3 start */
    .banner3 {
        flex-direction: column;
        width: auto;
    }

    .banner3-text {
        flex-direction: column;
        margin-right: 500px;
        /* justify-content: center; */
        text-align: center;
    }

    /* banner4 start */
    .banner4 {
        flex-direction: column;
        width: 650px;
    }

    .banner4-text {
        flex-direction: column;
        justify-content: space-around;
    }

    .icon-button {
        flex-direction: column 1fr;
        width: 650px;
        height: 900px;
    }

    .footer {
        flex-direction: column;
        width: 650px;
    }

    .footer-icon {
        flex-direction: column;
    }

    .footer-tag {
        flex-direction: column;
    }
}

@media screen and (min-width: 425) and (max-width: 768) {

    * {
        /* width: 768px; */
        height: auto;
        /* background-size: 50px; */
        /* height: auto; */
        /* border: 1px solid red; */
    }

    .navigation {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .nav-container {
        flex-direction: row;
        width: 50%;
        margin-left: 400px;

    }

    .banner-container {
        flex-direction: row;
        width: 100%;
    }

    .banner-text {
        flex-direction: row;
        width: 100%;
    }

    .banner1-text {
        /* align-items: center; */
        justify-content: center;
        margin-left: 500px;
    }

    .button-both {
        width: 30px;
        height: 20px;
    }

    .banner-image {
        margin-bottom: 70px;
    }

    .logo-container {
        /* flex-direction: column; */
        width: 70px;
    }

    .banner1-text {
        width: 80px;
    }

    /* banner 1 end */
    .banner-2 {
        flex-direction: column;
    }

    .banner-2-text {
        flex-direction: column;
    }

    /* banner2 end */
    .video-list {
        flex-direction: column;
        width: auto;
        justify-content: center;
        margin-left: 400px;
    }

    /* banner 3 start */
    .banner3 {
        flex-direction: column;
        width: auto;
    }

    .banner3-text {
        flex-direction: column;
        margin-right: 500px;
        /* justify-content: center; */
        text-align: center;
    }

    /* banner4 start */
    .banner4 {
        flex-direction: column-reverse;
width: 768px;
height: auto;
       
    }
    .banner4-image{
        /* flex-direction: column; */
        /* width: 768px; */
        display: none;
        width: 50%;
    }
    .banner4-text {
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
    }

    .icon-button {
        flex-direction: column 1fr;
    }

    .footer {
        flex-direction: row;
        width: 768px;
    }

    .footer-icon {
        flex-direction: column;
    }

    .footer-tag {
        flex-direction: column;
        margin-bottom: ;
    }
}